@font-face {
    font-family: 'Red Hat Text';
    src: local('Red Hat Text'), local('RedHatText-Regular'),
        url('RedHatText-Regular.woff2') format('woff2'),
        url('RedHatText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: local('Red Hat Text Bold'), local('RedHatText-Bold'),
        url('RedHatText-Bold.woff2') format('woff2'),
        url('RedHatText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

